import { {{pascalCase name}}Props } from './{{camelCase camel}}.interfaces';

export const {{pascalCase name}} = ({}: {{pascalCase name}}Props) => {
  return (
    <div>{{pascalCase name}}</div>
  )
};
